# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
env/
.venv/

# Node
node_modules/
build/
dist/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
judge/migrations/*.py

# React
frontend/node_modules/
frontend/build/

# VSCode
.vscode/

# Environment
.env

# Temporary code files
temp_codes/
