# Python
__pycache__/
*.py[cod]
*.sqlite3
env/
.venv/

# Django
*.log
*.pot
db.sqlite3
media/
staticfiles/

# Migrations - keep .py files but ignore caches
judge/migrations/__pycache__/
judge/migrations/*.pyc

# Node & React
node_modules/
build/
dist/
frontend/node_modules/
frontend/build/

# VSCode
.vscode/

# Env
.env

# Temp code/output
temp_codes/
